

body{
  width:100vw;
  height:100vh;
  box-sizing: border-box;
}

#name::after{
    display: inline;
    content: "sdjfsgdjf";
    
    font-size: 24px;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: end;
}

#xyz{
    position: absolute;
    margin-right: 5px;
}

#xyz2{
  position: absolute;
  margin-right: 5px;
}

#xyz3{
  position: absolute;
  margin-right: 5px;
}

.container2{
  width: 400px;
  height: 600px;
  border: 3px dashed grey;
  background-color: rgb(197, 208, 217);
  margin: auto;
  padding:30px;

}

.container1{
  width:100vw;
  height:100vh;
  display: flex;
  background-color: rgb(197, 211, 222);
  align-items: center;
  justify-content: center;
 

}



